* {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cabecalho {
    position: absolute;
    width: 216px;
    height: 24px;
    left: 574px;
    top: 1527px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.author_comment {
    position: absolute;
    width: 787px;
    height: 111px;
    left: 604px;
    top: 1622px;

    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */
    
    
    color: #000000;
}